= react_component('Nagivation', user_signed_in: user_signed_in?, user: current_user, edit_user_path: edit_user_registration_path, sign_out_path: destroy_user_session_path, sign_in_path: new_user_session_path, pictures_path: pictures_path)
